.navbar {
    width: 100%;
    background-color: #0e0e0e;
    overflow: hidden;
}

.navbar-container {
    width: 90%;
    max-width: 1680px;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nc-left img {
    width: 85px;
}

.nc-right {
    display: flex;
    align-items: center;
    gap: 2em;
}

.navbar-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 0.95rem;
    transition: all 0.3s ease-out;
}

.navbar-link:hover {
    color: #919191;
}

.login-icon {
    width: 24px;
    transition: all 0.3s ease-out;
}

.login-icon:hover {
    color: #b41c1c;
}

.cart-icon {
    width: 22px;
    margin-top: -2px;
    transition: all 0.3s ease-out;
}

.cart-icon:hover {
    color: #b41c1c;
}

.nbl-section {
    display: none;
}

.hamburguer-icon {
    width: 24px;
}

.hm-canva {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000ce;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
    transition: all 0.3s ease-out;
}

.nbl-hm {
    font-size: 1.6rem;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 10px;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-out;
}

.close-btn:hover .close-icon {
    cursor: pointer;
    color: #ffffffb4;
}

.close-icon {
    color: #f1f1f1;
    width: 44px;
    transition: all 0.3s ease-out;
}

@media (min-width: 598px) {
    .hamburguer-menu {
        display: none;
    }

    .nbl-section {
        display: block;
    }

    .hm-canva {
        display: none;
    }
}