.navbar {
    width: 100%;
    position: relative;
    z-index: 5;
}

.navbar-container {
    width: 90%;
    max-width: 1680px;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nc-left img {
    width: 85px;
}

.nc-right {
    display: flex;
    align-items: center;
    gap: 2em;
    position: relative;
}

.navbar-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 0.95rem;
    transition: all 0.3s ease-out;
}

.navbar-link:hover {
    color: var(--linkHover);
}

.nbl-section {
    display: none;
}

.nbl-section:nth-of-type(3) {
    margin-right: 2em;
}

.hamburguer-menu {
    background-color: transparent;
    border: none;
}

.hamburguer-icon {
    width: 24px;
}

.login-icon {
    width: 24px;
    transition: all 0.3s ease-out;
}

.login-btn:hover .login-icon {
    color: var(--red-100);
}

.login-btn {
    border: none;
    background: transparent;
}

.user-icon {
    width: 24px;
    transition: all 0.3s ease-out;
}

.user-btn:hover .user-icon {
    color: var(--red-100);
}

.user-btn {
    border: none;
    background: transparent;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 0.95rem;
    transition: all 0.3s ease-out;
    z-index: 2;
}

@media (min-width: 598px) {
    .hamburguer-menu {
        display: none;
    }

    .nbl-section {
        display: block;
    }
}