.view-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: auto;
    margin-bottom: 3em;
    max-width: 1680px;
}

.view-header-wrapper h1 {
    color: var(--white-50);
    font-weight: 300;
    text-transform: uppercase;
    width: 1180px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.vhw-line {
    width: 100%;
    height: 2px;
    border-radius: 50%;
    background-color: var(--viewLines);
}