 /* Reset and Adjustments */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Font for placeholders  */
*::placeholder {
    font-family: var(--mainFont);
}

/* Setting the font for the inputs */
input {
    font-family: var(--mainFont);
}

button {
    font-family: var(--mainFont);
}

/* Reset Input type Submit */
input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: var(--mainFont);
}

select {
    font-family: var(--mainFont);
}

/* Cursor pointer for Submit buttons and selects */
input[type=submit]:hover,
input[type=file]:hover,
select:hover {
    cursor: pointer;
}

/* Scrollbar Customization */
*::-webkit-scrollbar {
    width: 2px;
    background-color: var(--mainBackground);
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff86;
    border-radius: 100%;
}