/* Utility classes */
.button {
    background-color: var(--white-100);
    padding: 6px;
    border-radius: 2px;
    color: var(--black-75);
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.button:hover {
    background-color: #dadada;
}

.button:active {
    background-color: #919191;   
}

/* Button Disabled */
.button-disabled {
    background-color: #3d3d3d;
    padding: 6px;
    border-radius: 2px;
    color: #242424;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

/* Forms */
.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.form-field > label {
    font-size: 0.9rem;
    font-weight: 300;
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.form-error {
    font-size: 0.6rem;
    animation: error 0.5s;
}

@keyframes error {
    0% {
        transform: translateX(15px);
    }

    25% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(8px);
    }

    75% {
        transform: translateX(0);
    }
}

.form-field > input,
.form-field > select {
    border: none;
    padding: 10px;
    background-color: #3b3b3b;
    border-radius: 1px;
    border-bottom: 2px solid #727272;
    color: var(--white-100);
    transition: all 0.3s ease-out;
}

.form-field > input:focus,
.form-field > select:focus {
    outline: none;
    border-color: var(--white-100);
}

/* Loader & Error */
.loader-error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em 2em;
}

.error-title {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.error-subtitle {
    font-size: 0.75rem;
    font-weight: 300;
    margin-top: 0.2em;
}

.error-btn {
    text-transform: uppercase;
    color: #d6d6d6;
    border: 1px solid #d6d6d6;
    padding: 8px 14px;
    border-radius: 4px;
    margin-top: 0.4em;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.error-btn:hover {
    background-color: #d6d6d6;
    color: var(--black-75);
}