.cart-resume-item {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    padding: 1em;
    position: relative;
    transition: all 0.3s ease-out;
}

.cart-resume-item:nth-of-type(odd) {
    background-color: #232323;
}

.cart-resume-item:nth-of-type(even) {
    background-color: #131313;
}

.cri-img-np {
    display: flex;
    align-items: center;
    gap: 1em;
}

.cri-img {
    width: 90px;
    height: 90px;
}

.cri-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cri-name-price {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.cri-name-price h4 {
    text-transform: uppercase;
    color: var(--white-50);
    font-weight: 300;
}

.cri-name-price span {
    color: var(--white-25);
    font-size: 0.85rem;
}

.cri-controls-tp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cric-item-amount {
    color: var(--white-50);
}

.crib-stock {
    color: var(--white-25);
    font-size: 0.7rem;
}

.cri-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.cri-total-price {
    color: var(--white-50);
}

.cri-delete {
    position: absolute;
    top: 2px;
    right: 2px;
    border: none;
    background-color: transparent;
}

.cri-delete .close-icon {
    width: 34px;
    transition: all 0.3s ease-out;
}

.cri-delete:hover .close-icon {
    color: #888888;
}

@media (min-width: 598px) {
    .cart-resume-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .cri-img-np {
        flex-basis: 50%;
    }

    .cri-controls-tp {
        flex-basis: 42%;
    }
}

@media (min-width: 978px) {
    .cri-delete {
        position: relative;
    }

    .cri-total-price {
        padding-right: 4em;
    }

    .cri-controls-tp {
        flex-basis: 45%;
    }
}